html{
  font-family: sans-serif;
}
::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {
   color: white;
}
.navbar{
  margin: 0 0 !important;
}
.content{
  margin-top: 50px;
}
.introduction{
  overflow: hidden;
  background: url('/img/bg.jpg') no-repeat center bottom;
  background-size: cover;
  height: 480px;
  width: 100%;
}
.h2{
  text-align: center;
  font-weight: lighter !important;
  font-family: 'Lato' !important;
  margin-top: 50px !important;
  margin-bottom: 25px !important;
}
.whitey{
  color: #E5FCFF !important;
}
.division{
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: black;
  margin: 30px 4%;
}
.h4{
  text-align: center;
}
.intro-p{
  color: white;
  margin: 85% 0;
  font-weight: bold;
  font-size: 2rem;
}
.ruby{
  background-color: #CC342D;
}
.css{
  background-color: #1096CD;
}
.git{
  background-color: #F34D27;
}
.html{
  background-color: #EF652A;
}
.jquery{
  background-color: #1169AE;
}
.p-icon{
  margin: 0 0;
  padding: 14px 0;
  font-family: 'Lato' !important;
  font-weight: lighter;
  font-size: 4rem;
}
.angular{
  background-color: #A6120D;
}
.skills{
  margin-bottom: 60px;
}
.skill{
  text-align: center;
}
.skill-badge{
  margin: 10px auto;
  width: 100%;
}
.skill-badge i{
  color: white;
  margin: 10px 0;
}
.skill-badge p{
  color: white;
  padding-bottom: 5px;
  font-family: 'Lato' !important;
}
.skill-p{
  text-align: justify;
  padding: 10px 10px;
  width: 100%;
  background-color: #e6eaed;
  font-family: 'Lato' !important;
  font-weight: 400 !important;
}
.about-img{
  width: 170px;
  height: 170px;
  border-radius: 100px;
  margin: 25px auto;
  overflow: hidden;
}
.about, .contact{
  background-color: #286090;
}
.about p{
  text-align: justify;
}
.about-img img{
  width: 180px;
}
form{
  margin-top: 15px;
  margin-bottom: 40px;
}
input{
  border: 0;
  width: 100%;
  height: 45px;
  color: white;
  line-height: 40px;
  background: transparent;
  border-radius: 0px;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color: white;
  font-family: 'Lato' !important;
  font-weight: lighter !important;
}
textarea{
  border: 0;
  width: 100%;
  height: 45px;
  color: white;
  line-height: 40px;
  background: transparent;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color: white;
  border-radius: 0px;
  font-family: 'Lato' !important;
  font-weight: lighter !important;
  text-indent: 15px;
  font-size: 2rem !important;
  color: white !important;
  overflow: hidden;
}
input:focus,textarea:focus{
  outline: none;
}
input[type="email"],input[type="text"]{
  color: white;
  font-size: 2rem;
}
.form-btn{
  margin: 0 30%;
}
footer{
  text-align: center;
  padding: 30px 0;
  background-color: #2a2730;
  color: white;
}

@media (min-width: 768px) {
  .introduction{
    height: 860px;
    width: 100%;
  }
  .intro-p{
    margin: 70% 0;
    font-size: 4rem;
  }
  .division{
    margin: 30px 7%;
  }
  .skills{
    margin-bottom: 60px;
  }
  .skill{
    margin: 10px 30px;
  }
  .skill-p{
    font-size: 1.6rem;
    height: 290px;
  }
  .about-img{
    width: 300px;
    height: 300px;
    border-radius: 200px;
  }
  .about-img img{
    width: 310px;
  }
  .about p{
    font-size: 1.8rem;
  }
  form{
    margin: 15px 7%;
  }
  .form-btn{
    margin: 0 45%;
  }
  input{
    border: 0;
    width: 100%;
    height: 45px;
    color: white;
    line-height: 40px;
    background: transparent;
    border-radius: 0px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: white;
    font-family: 'Lato' !important;
    font-weight: lighter !important;
  }
  textarea{
    border: 0;
    width: 100%;
    height: 45px;
    color: white;
    line-height: 40px;
    background: transparent;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: white;
    border-radius: 0px;
    font-family: 'Lato' !important;
    font-weight: lighter !important;
    text-indent: 15px;
    font-size: 2rem !important;
    color: white !important;
    overflow: hidden;
  }
  input:focus,textarea:focus{
    outline: none;
  }
  input[type="email"],input[type="text"]{
    color: white;
    font-size: 2rem;
  }
}

@media (min-width: 992px){
  .introduction{
    height: 610px;
    width: 100%;
  }
  .intro-p{
    margin: 40% 0;
  }
  .division{
    margin: 30px 12%;
  }
  .skill{
    margin: 0 0;
    height: 470px;
  }
  .skill-p{
    height: 330px;
  }
  .about p{
    font-size: 2rem;
  }
  form{
    margin: 0 0;
    margin-bottom: 30px;
  }
  input{
    border: 0;
    width: 100%;
    height: 45px;
    color: white;
    line-height: 40px;
    background: transparent;
    border-radius: 0px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: white;
    font-family: 'Lato' !important;
    font-weight: lighter !important;
  }
  textarea{
    border: 0;
    width: 100%;
    height: 45px;
    color: white;
    line-height: 40px;
    background: transparent;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: white;
    border-radius: 0px;
    font-family: 'Lato' !important;
    font-weight: lighter !important;
    text-indent: 15px;
    font-size: 2rem !important;
    color: white !important;
    overflow: hidden;
  }
  input:focus,textarea:focus{
    outline: none;
  }
  input[type="email"],input[type="text"]{
    color: white;
    font-size: 2rem;
  }
}

@media (min-width: 1200px){
  .introduction{
    height: 100vh;
    background: url('/img/bg.jpg') no-repeat center top;
    background-size: cover;
  }
  .intro-p{
    margin: 35% 0;
  }
  .division{
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 55px;
  }
  .skill{
    /*height: auto;*/
    height: 470px;
  }
  .skill-p{
    /*height: auto;*/
    height: 330px;
  }
  .contact{
    padding: 20px 0;
  }
  form{
    margin: 0 20%;
  }
  input{
    border: 0;
    width: 100%;
    height: 45px;
    color: white;
    line-height: 40px;
    background: transparent;
    text-indent: 15px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: white;
    font-family: 'Lato' !important;
    font-weight: lighter !important;
  }
  textarea{
    border: 0;
    width: 100%;
    height: 45px;
    color: white;
    line-height: 40px;
    background: transparent;
    text-indent: 15px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: white;
    font-family: 'Lato' !important;
    font-weight: lighter !important;
    text-indent: 15px;
    font-size: 2rem !important;
    color: white !important;
    overflow: hidden;
  }
  input:focus,textarea:focus{
    outline: none;
  }
  input[type="email"],input[type="text"]{
    color: white;
    font-size: 2rem;
  }
}
